{
  "root": true,
  "extends": "airbnb-typescript-prettier",
  "rules": {
    "react/react-in-jsx-scope": "off", // Not necessary for react@>=17
    "react/jsx-props-no-spreading": "off"
  },
  "ignorePatterns": ["/dist"]
}
